html {
  height: 100%;  
} 

body {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(./images/bg-Crystal-Stadium.jpg) no-repeat center center fixed;
    background-size: cover;
}

.card {
  background: linear-gradient(rgba(5, 7, 12, 0.60), rgba(5, 7, 12, 0.60));
  background-size: cover;
  border: 5px solid black;
}

#card-container {
  background: linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 7, 12, 0.50));
  display: flex;
  justify-content: center;
}