body {
    background-image: url(./images/PL-MatchCentre-Generic-Branded-16x9-1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* .card {
    background: linear-gradient(rgba(5, 7, 12, 0.20), rgba(5, 7, 12, 0.20));
    background-size: cover;
    border: 5px solid black;
} */

.container {
    width: 900px;
    margin-left: 290px;
}

.container-new-team {
    width: 900px;
    margin-top: 100px;
    margin-left: 580px;
}