body {
    background-image: url(./images/premier1.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card {
    background: linear-gradient(rgba(5, 7, 12, 0.20), rgba(5, 7, 12, 0.20));
    background-size: cover;
    /* border: 5px solid black; */
}