{{!-- <div class="container p-4">
    <div class="row">
        {{>navegation items=data.equipos}}
    </div>
</div> --}}
<div class="container p-4">
    <div class="row">
        {{>navegation items=data.equipos}}
        {{>navegationbooks items=data.books}}
    </div>
</div>