{{!-- <p>lalalallaal</p>
{{#each items as |item|}}
    <div class="col-md-3">
        <div class="card-header">
        <p>{{item.id}}</p>
        <p>{{item.name}}</p>

        </div>
    </div>
{{/each}} --}}