<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <link rel="stylesheet" href="mainNEW.css">
    <title>Team 67</title>
</head>

<body>
    {{> navegacion}}
    {{{body}}}
    {{> footer}}
</body>

</html>